.price {
    margin-top: 3rem;
}

.price-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--color-white);
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(1, 1, 1, .3);
    padding: 2rem 1rem;
    margin: 2rem auto;
    width: 100%;
    max-width: 1050px;
}

.price-desc h3{
    font-size: 1.5rem;
    margin-bottom: .6rem;
}

.price-desc p{
    width: 100%;
    max-width: 510px;
    line-height: 1.6rem;
    color: rgb(141, 139, 139);
}

.price button {
    background: var(--color-orange);
    color: var(--color-black);
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    font-size: 18px;
    padding: .6rem .8rem;
    margin-left: .6rem;
    cursor: pointer;
    transition: var(--transition);
}

.price button:hover {
    background: none;
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
}


@media (max-width:768px) {
    .price-grid{
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 2rem .8rem;
    margin: 2rem auto;
    width: 100%;
    max-width: 100%;
}

.price-desc p{
    width: 100%;
    max-width: 100%;
}

.price button {
    margin: 1.2rem 0 0;
}

}

@media (max-width:500px){

} 


