.hero {
    position: relative;
    min-height: 100vh;
}

.hero-grid{
    padding-top: calc(70px + 2rem);
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: center;
}

.hero-desc h1{
    font-size: 2.7rem;
    margin-bottom: 1rem;
}

.hero-desc p{
    width: 100%;
    max-width: 510px;
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.hero-input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4rem;
}

.hero-input input{
    background: var(--color-white);
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    padding: .6rem .8rem;
}

.hero-input button {
    background: var(--color-orange);
    color: var(--color-white);
    border: 1px solid  var(--color-orange);
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    padding: .6rem .8rem;
    margin-left: .6rem;
    cursor: pointer;
    transition: var(--transition);
}

.hero-input button:hover {
    background: none;
    color: var(--color-black);
}

.hero-img{
    display: flex;
    justify-content: flex-end;
}

/* MEDIA QUERIES */
@media only screen and (max-width:960px){

    /* hero section */
.hero{
    min-height: 65vh;
}
.hero-grid{
    grid-template-columns: 100%;
    align-items: center;
    text-align: center;
}

.hero-desc p{
    width: 100%;
    max-width: 100%;
}

.hero-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.hero-img{
    display: none;
}
}

@media only screen and (max-width:500px){
.hero-desc h1{
    font-size: 2rem;
}
}


















/* @media (max-width:960px) {
.hero{
    min-height: 65vh;
    text-align: center;
}

.hero-grid{
    display: inline-block;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.hero-desc {
    
}

.hero-desc p{
    width: 100%;
    max-width: 510px;
    margin: auto;
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.hero-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}


.hero-desc, .hero-btn{
    justify-content: center;
    text-align: center;
}

.hero-img{
    width: 400px;
    height: 400px;
    margin: auto;
}
} */



