.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    background-color: var(--color-white);
    font-family: var(--font-ubuntu);
}

.navbar.sticky {
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.8);
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: var(--color-black);
    font-size: 36px;
    font-weight: 600;
}

.navbar .logo a span {
    background-color: var(--color-orange);
    font-size: 30px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: var(--color-black);
    font-size: 18px;
    /* font-weight: 500; */
    margin-left: 25px;
}

.navbar .menu li:hover a {
    color: var(--color-orange);
    transition: var(--transition);
}

.navbar .menu .login-btn {
    background: none;
    border-radius: 200px;
    border: 1px solid  var(--color-orange);
    padding: 5px 12px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
    cursor: pointer;
}

.navbar .menu .login-btn:hover {
    background: var(--color-orange);
    color: var(--color-white);
    transition: var(--transition);
    
}

/* menu btn styling */
.menu-btn {
    display: none;
    color: var(--color-black);
    font-size: 30px;
    cursor: pointer;
}


/* Media queries */
@media (max-width: 947px) {

.max-width {
    padding: 0 50px;
    margin: auto;
}

/* menu btn styling */
.menu-btn {
    display: block;
    z-index: 999;
}

.navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    right: -100%;
    top: 0;
    background: var(--color-white);
    /* box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);  */
    /* border-radius: 5px; */
    text-align: center;
    padding: 80px;
    transition: all .6s ease;
    z-index: -1;
}

.navbar .menu.active {
    right: 0;
}

.navbar .menu li {
    display: block;
}

.navbar .menu li a,
.navbar .menu .login-btn{
    display: inline-block;
    font-size: 25px;
    margin: 15px 0;
}

.navbar .menu .login-btn {
    margin: 3rem 0;
}
}





