.navbar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    background: var(--color-white);
    z-index: 999;
}

.navbar.sticky .wrapper {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .2);
    transition: var(--transition);
}

.navbar .menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 600;
}

.navbar .logo span {
    background: var(--color-orange);
    font-size: 30px;
    font-weight: 600;
}

.navbar li {
    padding-right: 2rem;
}

.navbar li a {
    font-size: 18px;
    cursor: pointer;
    transition: var(--transition);
}

.navbar li:hover a {
    color: var(--color-orange);
}

.navbar .login button {
    background: none;
    color: var(--color-orange);
    font-size: 18px;
    border: 1px solid var(--color-orange);
    border-radius: 20px;
    padding: .3rem 1.3rem;
    cursor: pointer;
    transition: var(--transition);
}

.navbar .login:hover button {
    background: var(--color-orange);
    color: var(--color-white);
}

.menu_btn {
    display: none;
}


/* MEDIA QUERIES  */
@media only screen and (max-width:768px){
/* mobile menu btn */
.menu_btn{
    display: block;
    z-index: 999;
}

.navbar .logo {
    font-size: 26px;
    font-weight: 600;
}

.navbar .logo span {
    background: var(--color-orange);
    font-size: 26px;
    font-weight: 600;
}

.navbar .menu {
    display: block;
    position: fixed;
    background: var(--color-white);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    right: -100%;
    top: 65px;
    width: 220px;
    border-radius: 8px;
    z-index: -1;
    transition: var(--transition);
}

.navbar .menu.active {
    right: 0;
}

.navbar li {
    margin-left: 0rem;
}

.navbar li a {
    padding: 10px;
    display: inline-block;
}

.navbar .login {
    padding: 10px 6px;
}
}





