.resources-grid{
    padding-top: calc(70px + 2rem);
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
    justify-content: flex-end;
}

.resources-desc h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.resources-desc p{
    width: 100%;
    max-width: 510px;
    margin-bottom: 2.5rem;
    /* font-size: 1.2rem; */
    line-height: 2rem;
    color: rgb(141, 139, 139);
}

.resources-desc button {
    background: lightgrey;
    color: var(--color-black);
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    font-size: 18px;
    padding: .6rem .8rem;
    margin-left: .6rem;
    cursor: pointer;
    transition: var(--transition);
}

.resources-desc button:hover {
    background: none;
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
}

.resources-img{
    display: flex;
    justify-content: flex-end;
}


@media (max-width:768px) {
.resources-grid{
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
}
.resources-desc p{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.8rem;
}

.resources-desc button {
    margin-left: 0;
}
} 

@media (max-width:500px) {
.resources-grid{
    padding-top: 1.5rem;
}


.resources-desc h2{
    font-size: 1.8rem;
}
} 

