@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Ubuntu:wght@400;500&display=swap');

:root {
  /* fonts */
  --font-ubuntu:'Ubuntu', sans-serif;
/* colors */
  --color-black: #111;
  --color-white: #fff;
  --color-orange: orange;
/* transitions */
  --transition: all .5s ease;
}

.wrapper{
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    overflow: hidden;
}

@media only screen and (max-width:1280px){
    .wrapper{
        width: 90%;
    }
}
